@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Podkova:wght@400..800&family=UnifrakturCook:wght@700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --mfblack: #1A261E;
    --mfgreen: #5FBF50;
}

::selection {
    background-color: var(--mfgreen);
    color: black;
}

body {
    background: url("../images/textures/149.jpg"), var(--mfgreen);
    background-blend-mode: color-burn;
    background-size: contain;
    color: white;
    font-family: "Podkova", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
    /* width: 100%; */
    background-color: black;
    color: white;
    margin-bottom: 2rem;
    /* position: sticky; */
    /* top: 0; */
    z-index: 2;
    grid-column: span 12;
    grid-row: 1 / span 1;
}

header h1 {
    font-family: "Jacquard 24", serif;
    font-size: 3rem;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline dotted 0.5px;
}

footer {
    background-color: black;
    padding: 3rem;
    text-align: center;
    clear: both;
    /* position: relative; */
    /* bottom: 0; */
    width: 100%;
    grid-column: span 12;


    a {
        color: white;
    }

    p {
        margin: 1rem;
    }

}

main {
    width: fit-content;
    margin: 0 auto;
}

main * {
    transition: 0.2s ease all;
}

h2 {
    margin: 2rem 4rem;
}

#albumList {
    list-style-type: none;
    list-style-position: inside;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0;
    width: 100%;
    margin: auto;

    li a {
        display: inline-block;
        height: 0;
    }
}

#albumList li a *:not(img),
#albumList li p:not(img) {
    display: none;
}

#albumList li {
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    max-width: fit-content;
    margin: 0;
    padding: 0;
}

#albumList li img {
    transition: all 0s;
}

#albumList li a:hover,
#albumList li a:focus {
    img {
        z-index: 1;
        position: relative;
        bottom: 8px;
        right: 8px;
        box-shadow: 8px 8px 0 black;
        justify-self: center;
    }

}

#albumList li a:hover .title,
#albumList li a:hover .title>.year,
#albumList li a:focus .title,
#albumList li a:focus .title>.year {
    display: block;
    position: absolute;
    z-index: 2;
    font-weight: 900;
    font-size: 1.5rem;
    color: yellow;
    text-shadow:
        1.75px 1.75px 0 #000,
        -1.75px 1.75px 0 #000,
        -1.75px -1.75px 0 #000,
        1.75px -1.75px 0 #000,
        4px 4px 0 #000;
    max-width: 20ch;
    margin: 0;
    text-align: left;
    width: 100%;
    padding: 1% 0 0 1%;
}

#albumList li .title>.year,
#albumList li a>.title>.year {
    margin: 0;
    margin-top: 1rem;
    font-size: 1.6rem !important;
}

/* #albumList li img:hover, */
/* #albumList li a img:hover { */
/* box-shadow: 4px 4px 0 white;
    border: 1px solid white;
    position: relative;
    bottom: 4px;
    right: 4px; */
/* 
    img {
        width: 102%;
    } */
/* width: 100%; */
/* } */

/* 
li * {
    display: block;
} */

li a {
    color: white;
}

img {
    width: 100%;
    /* margin: 1rem 0; */
    /* position: relative; */
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
    display: inline-flex;
    width: 75%;
    justify-content: space-between;
    align-items: end;
    margin: 0 1rem;
}

.title:not(span) {
    max-width: 28ch;
}

.year {
    font-size: 1rem;
    /* font-style: italic; */
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: normal;
    display: inline;
    position: relative;
}

.page-head {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.page-head button {
    background: black;
    /* border: none; */
    color: white;
    text-decoration: underline;
    padding: 1rem;
    margin: 1rem;
    align-self: center;
}

/* ------------------------------------------------------ ALBUM PAGES */
body:has(.album-page) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}


.album-page {
    text-align: left;
    grid-column: 2 / span 11;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, minmax(100px, max-content));

    /* width: 80%; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* padding: 2rem; */
    /* margin: 5rem auto 5rem; */
    /* display: flex; */
    /* flex-flow: row; */

    .title,
    .year,
    .label {
        margin: 1rem 0;
        padding: 0;
    }

    img {
        /* margin: 0 2rem 0; */
        /* width: 350px; */
        width: 100%;
        transition: 0.4s;
    }

    img:hover {
        width: 102%;
    }
}

#album-info {
    grid-column: 1 / span 3;
    grid-row: 1 / -1;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 80%);
    color: white;


    * {
        display: block;
    }
}

#list-wrapper {
    grid-column: span 6;
    grid-row: 1 / -1;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 80%);
}

.album-page p {
    max-width: 65ch;
}

/* 
.album-page.light {
    background-color: rgba(225, 225, 225, 50%);
    color: black;

    .tracklist li:nth-child(even) {
        background-color: rgba(0, 0, 0, 15%);
        border: 1px outset black;
    }

    .tracklist li:nth-child(odd) {
        background-color: rgba(255,255,255, 15%);
        border: 1px outset black;
    }

}
*/

.album-page {
    color: black;

    .tracklist li {
        /* font-weight: 600; */
        font-size: 1.05rem;
        padding: 0.5rem;
    }

    .tracklist li:nth-child(even) {
        background-color: rgba(0, 0, 0, 8%);
    }
/* 
    .tracklist li:nth-child(odd) {
        background-color: rgba(255, 255, 255, 48%);
    } */
}

summary p {
    margin: 0;
    display: inline-block;
}

.lyrics {
    font-style: italic;
}

#flightb741 {
    background: url("../images/textures/029.jpg"), #79C1F4;
    background-blend-mode: screen;
    background-size: contain;
}

#fmb {
    background: url("../images/textures/131.jpg"), #4052B8;
    background-blend-mode: darken;
    background-size: auto;
}

#kg {
    background: url("../images/textures/195.jpg"), #118188;
    background-blend-mode: overlay;
    background-size: contain;
}

#nonagon {
    background: url("../images/textures/028.jpg"), #8C2920;
    background-blend-mode: darken;
    background-size: contain;
}

#oddments {
    background: url("../images/textures/033.jpg"), linear-gradient(to left, #A78778 0%, 12.348178029060364%, #A8864B 24.696356058120728%, 45.89776097623367%, #5B7065 67.09916589434661%, 83.5495829471733%, #64624D 100%);
    ;
    background-blend-mode: color-dodge;
    background-size: round;
}

#changes {
    background: url("../images/textures/079.jpg"), #6FBFA8;
    background-blend-mode: color-dodge;
    background-size: contain;
    background-repeat: round;
}

#omnium {
    background: linear-gradient(to right, #FFC296, #A36960);
}

.label {
    margin: 1rem;
}

.note {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.tracklist,
.tracklist li {
    padding: 0;
    list-style-position: inside;
}

.tracklist {
    display: initial;
    /* list-style-type: decimal-leading-zero; */

    li {
        background-color: transparent;
        border: none;
        padding: 0 1rem;
        margin: 0.5rem;
    }

    details {
        display: inline-block;
        /* border: 1px solid black; */
        width: 90%;
        text-wrap: auto;

        p {
            padding: 0.5rem 1rem;
            line-height: 1.5rem;
        }
    }

    summary {
        display: list-item;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    details[open] summary,
    details summary:hover {
        font-weight: bold;
    }

    details[open] {
        margin-bottom: 1rem;
    }
}

/* 
.tracklist li:nth-child(even) {
    background-color: black;
} */


/* ---------------------------------------------------------------------- */
/* ---------- MEDIA QUERIES */
@media screen and (min-width: 700px) and (max-width:1200px) {
    #albumList {
        grid-template-columns: auto auto auto;
    }

    #albumList li:hover .title,
    #albumList li:hover .title>.year {
        font-size: 1.5rem;
        padding: 1% 0 0 1%;
        max-width: 18ch;
    }

    .album-page>section {
        width: 90%;
        margin: auto;
    }

    .album-page {
        width: 75%;
        display: block;

        img {
            display: block;
            width: 55%;
            margin: auto;
        }

        img:hover {
            width: 60%;
        }
    }

    .tracklist {
        display: block;
        margin: auto;
        /* width: 90%; */
    }

}

@media screen and (max-width: 700px) {

    body,
    main,
    ol {
        /* width: 100%; */
        text-wrap: unset;
    }

    #albumList {
        grid-template-columns: auto auto;
    }

    #albumList li {
        width: 100%;
        /* min-height: min-content; */

        img {
            width: 100%;
        }

        .title,
        .year {
            font-size: 0.5rem;
            position: unset;
        }
    }

    #albumList li:hover .title,
    #albumList li:hover .title>.year {
        font-size: 1.25rem;
        max-width: 18ch;
        margin: 0;
        text-align: left;
        width: 100%;
        padding: 2% 0 0 2%;
    }

    #albumList li .title>.year,
    #albumList li a>.title>.year {
        margin: 0;
        margin-top: 1rem;
        font-size: 1rem !important;
    }

    li:hover {
        img {
            width: 100%;
        }
    }

    .title {
        font-size: 1rem;
        hyphens: auto;
        max-width: 10ch;
    }

    .album-page {
        width: 100%;
        display: block;

        img {
            width: 400px;
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }

        img:hover {
            width: 425px;
        }

        section {
            width: 100%;
        }

        li {
            width: 100%;
        }

        .tracklist {
            display: block;
            width: 100%;

            details {
                width: stretch;
            }


        }
    }
}